@require 'index.styl'

html, body
  margin 0
  padding 0
  min-height 100%
  min-width 100%

li
  color #ddd

+screenSizeAbove('tablet')
  .aboveKeyword
    color green

+screenSizeAbove(500px)
  .aboveSize
    color green



+screenSizeBelow('large-desktop')
  .belowKeyword
    color green

+screenSizeBelow(1000px)
  .belowSize
    color green



+screenSizeBetween(500px, 1000px)
  .betweenSizeSize
    color green

+screenSizeBetween('tablet', 'laptop')
  .betweenKeywordKeyword
    color green

+screenSizeBetween('tablet', 1500px)
  .betweenKeywordSize
    color green

+screenSizeBetween(500px, 'laptop')
  .betweenSizeKeyword
    color green



+screenSize('palm')
  .palm
    color green

+screenSize('phone')
  .phone
    color green

+screenSize('tablet')
  .tablet
    color green

+screenSize('laptop')
  .laptop
    color green

+screenSize('desktop')
  .desktop
    color green

+screenSize('large-desktop')
  .large-desktop
    color green



+screenOrientation('portrait')
  .orientationPortrait
    color green

+screenOrientation('landscape')
  .orientationLandscape
    color green


+screenHighDPI()
  .highDPI
    color green

