html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
}
li {
  color: #ddd;
}
@media screen and (min-width: 719px) {
  .aboveKeyword {
    color: #008000;
  }
}
@media screen and (min-width: 500px) {
  .aboveSize {
    color: #008000;
  }
}
@media screen and (max-width: 1200px) {
  .belowKeyword {
    color: #008000;
  }
}
@media screen and (max-width: 1000px) {
  .belowSize {
    color: #008000;
  }
}
@media screen and (min-width: 500px) and (max-width: 1000px) {
  .betweenSizeSize {
    color: #008000;
  }
}
@media screen and (min-width: 480px) and (max-width: 959px) {
  .betweenKeywordKeyword {
    color: #008000;
  }
}
@media screen and (min-width: 480px) and (max-width: 1500px) {
  .betweenKeywordSize {
    color: #008000;
  }
}
@media screen and (min-width: 500px) and (max-width: 959px) {
  .betweenSizeKeyword {
    color: #008000;
  }
}
@media screen and (min-width: 0px) and (max-width: 239px) {
  .palm {
    color: #008000;
  }
}
@media screen and (min-width: 240px) and (max-width: 479px) {
  .phone {
    color: #008000;
  }
}
@media screen and (min-width: 480px) and (max-width: 719px) {
  .tablet {
    color: #008000;
  }
}
@media screen and (min-width: 720px) and (max-width: 959px) {
  .laptop {
    color: #008000;
  }
}
@media screen and (min-width: 960px) and (max-width: 1199px) {
  .desktop {
    color: #008000;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1439px) {
  .large-desktop {
    color: #008000;
  }
}
@media screen and (orientation: portrait) {
  .orientationPortrait {
    color: #008000;
  }
}
@media screen and (orientation: landscape) {
  .orientationLandscape {
    color: #008000;
  }
}
@media only screen and ('-webkit-min-'device-pixel-ratio: 2), only screen and ('min--moz-'device-pixel-ratio: 2), only screen and ('min-'device-pixel-ratio: 2) {
  .highDPI {
    color: #008000;
  }
}

