/**
 * Define default devices.
 */

media-queries--devices ?= 'palm' 'phone' 'tablet' 'laptop' 'desktop' 'wide'

/**
 * Define default unit of measurement for `sizes`.
 */

media-queries--unit ?= 240

/**
 * Hash to hold our queries.
 */

media-queries--sizes ?= {}
